<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="pythonpath" value="C:\ServicioTech\ServicioTech" />
    <add key="WSGI_HANDLER" value="servicereports.wsgi.application" />
    <add key="DJANGO_SETTINGS_MODULE" value="servicereports.settings" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\ServicioTech\.venv\Scripts\python.exe|C:\ServicioTech\.venv\Lib\site-packages\wfastcgi.py" 
           resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>